@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
/* <weight>: Use a value from 200 to 900
<uniquifier>: Use a unique and descriptive class name */

/* 
  font-family: "Source Code Pro", monospace;
  font-family: "Press Start 2P", system-ui; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
}
